h1:not(.site-title)::before, h2::before {
	display: none;
}

#web-vitals-report-wrap {
	position: fixed;
	top: 32px;
	left: 0;
	z-index: 99999;
	clear: both;
	margin: 0 auto;
	font-family: sans-serif;
	background-color: lightgrey;
	color: black;
	width: 100vw;
	box-shadow: 0px 1px 5px 0px #666;
}

#web-vitals-report-wrap section {
	padding: 10px;
}

#web-vitals-report-wrap section > h2 {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 700;
}

#web-vitals-report-wrap section > p {
	font-family: sans-serif;
	font-size: 14px;
}

.grid-container {
	display: grid;
	grid-template-rows: 50px;
	grid-template-areas: '. . .';
}

.box-good {
	background-color: hsl(118, 41%, 49%);
}

.box-needs-improvement {
	background-color: hsl(31, 78%, 53%);
}

.box-poor {
	background-color: hsl(359, 80%, 50%);
}

#web-vitals-admin-container {
	width: 100px !important;
	height: 32px !important;
	margin: 0;
	padding: 0;
}

.web-vitals-admin-bar-cls,
.web-vitals-admin-bar-fcp,
.web-vitals-admin-bar-fid,
.web-vitals-admin-bar-lcp {
	width: 100px !important;
	height: 8px !important;
	display: flex;
}

.web-vitals-good {
	background: green;
	z-index: 999;
}

.web-vitals-needs-improvement {
	background: yellow;
	z-index: 999;
}

.web-vitals-poor {
	background: red;
	z-index: 999;
}
