on: pull_request
name: Inspections
jobs:
  runPHPCSInspection:
    name: Run PHPCS inspection
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Run PHPCS inspection
      uses: rtCamp/action-phpcs-code-review@master
      env:
        SKIP_FOLDERS: "tests,.github"
        GH_BOT_TOKEN: ${{ secrets.RTBOT_TOKEN }}
    - name: Cleanup
      if: ${{ always() }}
      uses: rtCamp/action-cleanup@master
